/* nav slider */
.pcoded-navbar:not(.theme-horizontal) .navbar-content {
  height: calc(100% - 56px);
}

/* search */
.search-bar {
  display: block;
}

/* menu */
.pcoded-navbar {
  .pcoded-inner-navbar {
    > li {
      > a.active {
        color: var(--pillBackground) !important;
        background: $light-color;
        &:before {
          background: var(--pillBackground);
        }
      }
    }
    li {
      > a.active {
        font-weight: 600;
        color: var(--primary-color);
      }
      .pcoded-submenu > li {
        &.active,
        &:focus,
        &:hover {
          > a,
          > a.active {
            &:before {
              background: var(--primary-color);
            }
          }
        }
        > a.active {
          &:before {
            background: var(--primary-color);
          }
        }
      }
    }

    > .pcoded-menu-caption {
      &.active,
      &.pcoded-trigger {
        &:after {
          display: none;
        }
      }
    }
  }
}

/* card header */
.card .card-header + .collapse {
  .card-body {
    padding-top: 0;
  }
}

.go2791332690:before {
  bottom: -4.85em !important;
}

@media only screen and (max-width: 1199px) {
  .hover-blk {
    display: none;
  }
}
