@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(5px);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(50%);
  }
}

/* @keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
} */