#progressbar {
    margin-bottom: 3vh;
    overflow: hidden;
    color: var(--primary-color);
    padding-left: 0px;
    margin-top: 3vh;
    /* width: max-content; */
    /* margin: auto; */
    /* margin-left:2rem ; */
}

#progressbar li {
    list-style-type: none;
    font-size: 0.8rem;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    color: var(--primary-color);
    transition: all 1s;
}

#progressbar #step1{
    width:  15%;
}

#progressbar #step1:before {
    content: "";
    color: var(--primary-color);
    width: 20px;
    height: 20px;
    margin-right: 0px !important;
      transition: all 1s;
}

#progressbar #step2:before {
    content: "";
    color: var(--primary-color);
    width: 20px;
    height: 20px;
    margin-right: 0px !important;
      transition: all 1s;
}

#progressbar #step3:before {
    content: "";
    color: var(--primary-color);
    width: 20px;
    height: 20px;
    margin-right: 0px !important;
      transition: all 1s;
}

#progressbar #step4:before {
    content: "";
    color: rgb(151, 149, 149, 0.651);
    width: 20px;
    height: 20px;
    margin-right: 0px !important;
      transition: all 1s;
}

#progressbar li:before {
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: rgb(151, 149, 149);
    border-radius: 50%;
    margin: auto;
    z-index: -1;
    margin-bottom: 1vh;
    transition: all 1s;
}
/* 
#progressbar #step1:after {
    content: '';
    height: 3px;
    background: rgb(151, 149, 149, 0.651);
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 8px;
    z-index: -1;
} */
#progressbar #step2:after {
    content: '';
    height: 3px;
    background: rgb(151, 149, 149, 0.651);
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 8px;
    z-index: -1;
    transition: all 1s;
}
#progressbar #step3:after {
    content: '';
    height: 3px;
    background: rgb(151, 149, 149, 0.651);
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 8px;
    z-index: -2;
    transition: all 1s;
}
#progressbar #step4:after {
    content: '';
    height: 3px;
    background: rgb(151, 149, 149, 0.651);
    position: absolute;
    left: 0%;
    right: 0%;
    margin-bottom: 2vh;
    top: 8px;
    z-index: -3;
    transition: all 1s;
}
.progress-track{
    padding: 0 8%;
}
#progressbar li:nth-child(2):after {
    margin-right: auto;
      transition: all 1s;
}

#progressbar li:nth-child(1):after {
    margin: auto;
      transition: all 1s;
}

#progressbar li:nth-child(3):after {
    float: left;
      transition: all 1s;
  
}
#progressbar li:nth-child(4):after {
    margin-left: auto;
      transition: all 1s;
    /* width: 132%; */
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: var(--primary-color) !important;
  
}

#three{
    font-size: 1.2rem;
  
}

#progressbar li.active:before {
    background-color: #FFFFFF !important;
    border: 0.3em solid var(--primary-color);
}